
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <title>Create Object</title>
</head>
<body>
    
    <div class="container">
        <h2>Create Object</h2>
        <form method="post" action="{% url 'ajouter_class' %}">
            {% csrf_token %}

            <!-- Use Django form fields and add classes for styling -->
            <div class="form-field">
                {{ form.type.label_tag }}
                {{ form.type }}
            </div>

            <div class="form-field">
                {{ form.capacite.label_tag }}
                {{ form.capacite }}
            </div>

            <div class="form-field">
                {{ form.prix.label_tag }}
                {{ form.prix }}
            </div>

            <!-- Add other form fields as needed -->

            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>
