

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <title>Create Object</title>
</head>
<body>
    
    <div class="container">
        <h2>Ajouter Avion</h2>
        <form method="post" action="{% url 'ajouter_view' %}">
            {% csrf_token %}

            <!-- Use Django form fields and add classes for styling -->
            <div class="form-field">
                {{ form.num_avion.label_tag }}
                {{ form.num_avion }}
            </div>

            <div class="form-field">
                {{ form.autonomie.label_tag }}
                {{ form.autonomie }}
            </div>

            <div class="form-field">
                {{ form.moteur.label_tag }}
                {{ form.moteur }}
            </div>
            <div class="form-field">
                {{ form.total_seats.label_tag }}
                {{ form.total_seats}}
            </div>

            <!-- Add other form fields as needed -->

            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>
