{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Object</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
</head>
<body>
    <div class="container">
        <h2>Edit Object</h2>
        <form method="post" action="{% url 'vol_update' pk=instance.pk %}">
                {% csrf_token %}
    
                <!-- Use Django form fields and add classes for styling -->
                
                <div class="form-field">
                    {{ form.trajet.label_tag }}
                    {{ form.trajet }}
                </div>
    
                <div class="form-field">
                    {{ form.dateD.label_tag }}
                    {{ form.dateD }}
                </div>
                <div class="form-field">
                    {{ form.timeD.label_tag }}
                    {{ form.timeD }}
                </div>
                <div class="form-field">
                    {{ form.img.label_tag }}
                    {{ form.img }}
                </div>
                <div class="form-field">
                    {{ avionvol_form.num_avion.label_tag }}
                    {{ avionvol_form.num_avion }}
                </div>
    

            <!-- Add other form fields as needed -->

            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
